#main {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	height: 600px;;
}

#center {
	width: 100%;
	height: 70%;
	float: left;
	clear: none;
	background-color: #98f9f9;
}

#below {
	margin-top: -1%;
	width: 100%;
	height: 30%;
	float: left;
}

#below #board {
	width: 65%;
	height: 100%;
	float: right;
}

#below #board #keyBoard {
	float: left;
	clear: right;
	height: 100%;
	width: 50%;
	background-color: white;
	height: 100%;
}

#below #board #keyBoard #keyTable {
	height: 100%;
	width: 90%;
	margin: auto;
}

#below #board #cardBoard {
	height: 100%;
	width: 50%;
	float: right;
}

#below #board #cardBoard #cardInsert {
	height: 100%;
	width: 50%;
	background-color: white;
	float: right;
}

#below #board #cardBoard #cardInsert #insertPanel {
	height: 50%;
	width: 95%;
	margin-top: 30%;
	margin-bottom: 20%;
	margin-left: auto;
	margin-right: auto;
	background-color: #eff7b7;
}

#below #board #cardBoard #cardInsert #insertPanel label {
	margin-top: 6%;
	width: 90%; margin-left : 5%;
	margin-bottom: 3%;
	margin-left: 5%;
}

#below #board #cardBoard #cardInsert #insertPanel label img {
	width: 100%;
}

#below #board #cardBoard #cardInsert #insertPanel button {
	width: 88%;
	margin-left: 6%;
	margin-right: 6%;
	margin-bottom: 3%;
}

#below #board #cardBoard #cardPick {
	height: 100%;
	width: 50%;
	background-color: white;
	float: left;
}

#below #board #cardBoard #cardPick #pickPanel {
	width: 90%;
	height: 95%;
	margin-bottom: 2%;
	margin-top: 2%;
	margin-left: auto;
	margin-right: auto;
}

#below #board #cardBoard #cardPick #pickPanel button {
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 7%;
}

#left {
	width: 20%;
	height: 100%;
	float: left;
	clear: right;
	background-color: #49bbf4;
	position: relative;
}

#left #leftContent {
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 78%;
}

#right {
	width: 20%;
	height: 100%;
	float: left;
	clear: none;
	background-color: #49bbf4;
	position: relative;
}

#right #rightContent {
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 78%;
}

.functionButton {
	background-color: #5CB85C;
	width: 60%;
	height: 32px;
	margin-top: 40px;
	margin-bottom: 40px;
	margin-left: 20%;
	margin-right: 20%;
	float: left;
	clear: none;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}

#screen {
	width: 60%;
	height: 100%;
	float: left;
	clear: right;
	background-color: white;
	border-color: black;
	border-style: solid;
}

#screen #title {
	width: 100%;
}

#screen #title #logo {
	float: left;
	clear: right;
}

#screen #title #message {
	float: left;
	clear: none;
}

#screen #title #message p {
	text-align: center;
	font-style: italic;
	font-size: 30px;
	font-weight: 5px;
	font-style: italic;
}

#screen #title #message #advise {
	font-size: 20px;
	font-weight: 5px;
	color: blue;
}

#screen #content {
	width: 100%;
	height: 79%;
	float: left;
}

#screen #content #functionLeft {
	width: 40%;
	height: 100%;
	float: left;
	clear: none;
}

#screen #content #functionRight {
	width: 40%;
	height: 100%;
	float: right;
	clear: none;
}

#screen #content #functionLeft  .labelLeft {
	border-radius: 78% 0% 0% 78%/100% 0% 0% 100%;
	background-color: #80ff00;
	width: 140px;
	height: 30px;
	margin: 40px;
	float: left;
	clear: none;
	padding-right: 20px;
	padding-top: 5px;
	font-size: 15px;
	text-align: right;
}

#screen #content #functionRight .labelRight {
	border-radius: 0% 78% 78% 0%/0% 100% 100% 0%;
	background-color: #80ff00;
	width: 140px;
	height: 30px;
	margin: 40px;
	float: right;
	padding-top: 5px;
	padding-left: 20px;
	clear: none;
	font-size: 15px;
	text-align: left;
}